<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar') %>
    <h1>Welcome to my Pantry</h1>
    <% if (pantry.length !== 0) { %>
    <ul>
      <% pantry.forEach((item) => { %>
      <a href="/users/<%= user._id %>/foods/<%= item._id %>">
        <li><%= item.name %></li>
      </a>

      <% }) %>
    </ul>
    <% } else { %>
    <p>Pantry is Empty</p>
    <% } %>
    <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
  </body>
</html>
